<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <div class="row page-header">
        <div class="col-md-2"></div>
        <div class=" col-md-10 modal-title">
            <h2>Airlines</h2>
        </div>
    </div>
    <div class="container">
        <div class="sidemenu">
            <div class="log-msg">
                @if (User.Identity.IsAuthenticated)
                {
                    if (User.IsInRole("Administrator"))
                    {
                        <p>You logged as an administrator @User.Identity.Name</p>
                    }
                    else if (User.IsInRole("Dispatcher"))
                    {
                        <p>You logged as a dispatcher @User.Identity.Name</p>
                    }
                    else
                    {
                        <p>You logged as a system administrator @User.Identity.Name</p>
                    }
                }
                else
                {
                    <p>Hello, guest</p>
                }
            </div>

            <div class="dropdown">
                    <div class="sidebar-part">@Html.ActionLink("Passenger flights", "IndexFlights", "PassengerFlight")</div>
                    <div class="sidebar-part">@Html.ActionLink("Cargo flights", "IndexFlights", "CargoFlight")</div>
                    <div class="sidebar-part">@Html.ActionLink("Airlines", "IndexAirlines", "Airline")</div>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Dispatcher"))
                        {
                            <div class="sidebar-part">@Html.ActionLink("Crews", "IndexCrew", "Crew")</div>
                            <div class="sidebar-part">@Html.ActionLink("Requests", "IndexRequest", "User")</div>
                        }
                        if (User.IsInRole("Administrator"))
                        {
                            <div class="sidebar-part">@Html.ActionLink("Crews", "IndexCrew", "Crew")</div>
                            <div class="sidebar-part">@Html.ActionLink("Incoming requests", "IndexRequestAdmin", "User")</div>
                        }
                        if (User.IsInRole("System administrator"))
                        {
                            <div class="sidebar-part">@Html.ActionLink("Users", "IndexUser", "User")</div>
                        }
                    }
            </div>
            <div class="sidebar-part">
                @Html.ActionLink("Search for flight", "Index", "Search")
            </div>
            @if (User.IsInRole("Dispatcher"))
            {
                <div class="sidebar-part">
                    @Html.ActionLink("Create request", "CreateRequest", "User")
                </div>
            }
            <div class="logout-action">
                @if (HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    @Html.ActionLink("Sign out", "Logout", "User")
                }
                else
                {
                    @Html.ActionLink("Sign in", "Login", "User");
                }
            </div>
        </div>
        <div class="mainwindow">
            @RenderBody()
        </div>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>