@model IEnumerable<Grey_Airlines.Models.CrewModel>

@{
    ViewBag.Title = "Crews";
}

<h2>Crews</h2>

<div>
    <ul class="nav nav-tabs">
        <li class="active">@Html.ActionLink("Crews", "IndexCrew")</li>
        <li>@Html.ActionLink("Pilots", "IndexPilots")</li>
        <li>@Html.ActionLink("Employees", "IndexEmployees")</li>
    </ul>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Home)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CrewCount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Home)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CrewCount)
            </td>
            <td>
                @Html.ActionLink("Details", "DetailsCrew", new { id = item.Id }) 
                @if (User.IsInRole("Administrator"))
                {
                    @Html.ActionLink("Delete", "DeleteCrew", new {id = item.Id})
                }
            </td>
        </tr>
    }
</table>
@if (User.IsInRole("Administrator"))
{
    <p>
        @Html.ActionLink("Create new crew", "CreateCrew")
    </p>
}
